<center><font size="8"><%= @listings.count %> listings</font>

  <%= link_to new_listing_path, class: "btn btn-sm" do %>
<i class="glyphicon glyphicon-plus">New</i>
<% end %>

<body>
    <%= form_tag listings_path, remote: true, :method => 'get', :id => "listings_search" do %><br>
      <p style="direction: rtl;">
        <%= text_field_tag :search, params[:search], :placeholder => "Search listings" %>
        <% submit_tag "Search", :name => nil, :id => "search_btn" %>
      </p>
    <% end %>
    <%= will_paginate @listings %>
  </center>

<div id="main-container" class="container-fluid">
  <div class="row" id="listings_search">
  <%= render partial: 'listings' %>
</div>

</div>

 
 
  </div>


<!--     <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="content" class="col-xs-offset-4 col-xs-4">
        <%= form_tag listings_path, remote: true, :method => 'get', :id => "listings_search" do %>
          <p>
            <%= text_field_tag :search, params[:search], :placeholder => "Item search" %>
            <%= submit_tag "Search", :name => nil, :id => "search_btn" %>
          </p>
          <div id="listings">< render 'listings' %></div>
        <% end %>
        </div>
      </div>
    </div> -->

<script>
$("#search").keyup(function () {
     $.get($("#listings_search").attr("action"), $("#listings_search").serialize(), null, "script");
}
  );
</script>

</body>
<br>


