<div id="show-container" class="container-fluid" align="middle">
  <div class="row">
    <div class="btn-success"><h2><%= @listing.name %></h2></div>
    <div class="col-md-4"><%= image_tag @listing.picture %>
    </div>
    <div class="col-md 6" style="vertical-align:middle"><br><br><br><br><br>
      <div><strong>Game:</strong> <%= @listing.game %></div>
      <div><strong>Quality:</strong> <%= @listing.quality %></div>
      <div><strong>Desc:</strong> <%= @listing.desc %></div>
      <div><strong>Price:</strong> <%= number_to_currency(@listing.price, precision: 2) %></div>
      <div><strong>Seller:</strong> <%= @listing.user.nickname %></div>
    </div>
  </div>
</div>

<center>
  <button type="button" class="btn btn-edit"><%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, listings_path %></button>
  <% if current_user == @listing.user or current_user.admin? %>
  <button type="button" class="btn btn-warning"><%= link_to '<span class="glyphicon glyphicon-list"></span> Edit'.html_safe, edit_listing_path(@listing) %></button>
  <button type="button" class="btn btn-md btn-hover btn-danger"><%= link_to '<span class="glyphicon glyphicon-trash"></span> Destroy'.html_safe, @listing, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <% end %>
</center>

